/*ESTILO ABOUT US*/
$margin: 20rem;

.my-daughter {
    opacity: 0.4;
    width: 100%;

}
.body__about-us-p {
    position: absolute;
    color: rgb(10, 0, 0);
    margin: $margin/4 0rem 0rem 0rem ;
    z-index: 1;
    font-size: 1.5rem;
    top: 11rem;
    }