/*ESTILO CONTACT*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body-contact {
    background-color: pink;
    
}

.form__contact{
    position: relative;
    padding: 10rem 0rem 0rem 4rem;
    
}
.maps{
    position: absolute;
    bottom: 12rem;
    left: 85rem;
}