

@media (max-width: 1300px){

    nav{
        position: absolute;
        background-color: $background-transparent;
        padding: 1rem;
        z-index: 2;
    .nav__div1{
        display: flex;
        align-items: flex-end;
        margin: -0.2rem 10px 70px 1rem;
    
        .nav__index-h1{
            margin-top: 10px;
            color: rgb(0, 0, 0);
            font-size: 2em;
            font-style: italic;
            text-align: left;
            text-shadow: 1px 1px 1px black;
            z-index: 1;
            font-family: 'BIZUD';
        }
    }
    .fas{
        font-size: 1.3em;
        margin-top: -5px;
    }
    ul{
        display: flex;
        list-style-type: none;
        justify-content: end;
        margin: 3rem 0px 0px -2rem;
        li{
            text-decoration: none;
            margin: 1rem;
            font-family: 'BIZUD';
            a {
                text-decoration: none;
                color: rgb(0, 0, 0);
                font-size: 1.0rem;
            }
        }
    }
    a:hover{
        opacity: 1;  
    }
    }
    .div-search{
        position: absolute;
        width: 18rem;
        top: 6rem;
        left: 50rem;
        background-color: transparent;
        z-index: 3;
        .search-input{
            top: 50%;
            display: flex;
            padding: 1rem;
        }
        .search-input :placeholder-shown{
            padding: 0rem;
            transition: all .5s;
        } 
        .search-input :placeholder-shown:focus{
            padding: .8rem;
        }
        .search-input :placeholder-shown:hover{
            padding: .8rem;
        }
        .button-nav{
            border-radius: 10px;
            padding: 2px;
            margin-left: 3px;
            cursor:pointer;
            width: 4em;
            height: 2.5rem;
            transition: all .5s;
            font-family: 'BIZUD';
        }
        .button-nav:hover{
        width: 6rem;
        height: 4rem;
        background-color: rgb(224, 221, 221);
        background-image: linear-gradient(to left, rgb(255, 255, 255),rgb(204, 149, 206));
        }
        
        .input-index{
            width: 100%;
            padding: .5rem;
            border-radius: 10px;
        }
    }
    
    .registro{
        position: absolute;
        display: flex;
        background-color: transparent;
        padding: 1rem;
        z-index: 4;
        .registro__ul{
        display: flex;
        list-style-type: none;
        justify-content: end;
        margin: 0rem 0px 0px 85rem;
        
        .registro__ul-li{
            text-decoration: none;
            margin: 0.1rem;
        }
        .registro__a{
            text-decoration: none, underline;
                color: rgb(0, 0, 0);
                font-size: 1.2rem;
                font-family: 'BIZUD';
        }
        .registro__a:hover{
            
            opacity: 0.5;
        }
        
    }
    }
    

}
