$margin: 20rem;
$background-transparent: transparent;
$size: 1rem;

.nav__index-h1{
    @if $size == 1rem {
        color: black;
    } @else if $size == 2rem {
        color: red;
    }
}
