@import "navbar";
@import "about-us";

/*ESTILO DE INDEX*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*html body{
    
    height: 100vh;
    width: 100vw
}*/
.hot-sale{
    position: absolute;
    top: 18rem;
    left: 70rem;
    font-size: 4rem;
    display: inline-block;
    margin: 0 0.5rem;
    animation-name: hot-sale;
    animation: zoomInDown;  
    animation-duration: 1.5s; 
    animation-iteration-count: infinite;
    background: -webkit-linear-gradient(rgb(219, 25, 25), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 5;
    
}


/*NEW PRODUCT*/

#section__new-product{
    display: flex;
    justify-content: start;
    max-width: 100vw;
    overflow: hidden;

}
.new-product-index{
    background-color: rgb(250, 36, 36);
    width: 20rem
    ;
  
}
.new-product-index__h3{
    color:white;
    font-family: 'Redressed';
    font-size: 1.5rem;
    text-align: center;
    padding-top: 4rem;
    line-height: 2rem;
    background: -webkit-linear-gradient(rgb(255, 252, 60), rgb(255, 178, 106));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
    -webkit-text-fill-color: transparent;
}
.span__new-product{
    display: block;

}

.new-product-index{
    margin-left: 3rem;
}


.car-sport{
    display: block;
    width: 10rem;
    border: 1px solid black;
    margin: 0.45rem;
    border-radius: 20px;
    background-color:white;
    margin-top: 2rem;
}
.car-sport__h6{
    font-size: 2rem;
    text-align: center;
}
.car-sport__p-description{
    font-size: 1rem;
    margin: 1rem;
    margin-top: 2rem;
    text-align: center;
}
.car-sport__h4{
    text-align: center;
    font-size: 4rem;
    margin-top: 4rem;
}

.article-index__img{
   width: 100vw;
   height: 600px;
   animation-name: offers;
    animation: bounceInLeft;  
    animation-duration: 1.5s; 
    animation-iteration-count: infinite;
}



/*FOOTER*/

#footer-index{
    display: flex;
    background-color: rgb(250, 36, 36);
    padding: 3rem 10rem 5rem 10rem;
}
.footer-index-items{
    margin: -2rem 4rem 8rem 2rem;
   
    
}
.footer-index__h4{
    font-size: small;
    color: white;
}
.email{
    display: flex;
    background-color: rgb(250, 36, 36);
    margin: -8rem 0rem 0rem 27rem;
}
.email__footer{
    margin-left: 1rem;
    
}
.email__h5{
    font-size: 1rem;
    margin-top: 0.3rem;
    color: white;
}
.input-email{
    border-radius: 5px;
}
.button-email{
    border-radius: 5px;
    width: 5rem;
}


.footer-ul{
    background-color: rgb(250, 36, 36);
    
}
.foter-ul-icon{
    display: flex;
    margin-left: 70rem;
}
.footer-ul_li{   
    
    width: 20px;
    margin: 1rem 2rem 3rem;
    list-style: none;
}
.fab {
color: white;
font-size: 2rem;
}

/*ESTILO CATEGORY*/

.section-category{
    display: block;
    position: relative;
    top: 10rem;
    bottom: 5rem;
}
.category-index{
    margin: 0rem 0rem 2rem 35rem;
    font-size: 2rem;
    color: rgb(202, 34, 235);
}
.img-index{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 12em);
    grid-template-rows: repeat(3, 12em);
    grid-column-gap: 7.5em;
    grid-row-gap: 2.5em;
    width: 0em;
    margin: 10rem 0 5rem 5em;
    
}
.img-index_image{
    width: 19rem;
    height: 14rem;
    margin: 1em;
}


/*ESTILO CONTACT*/

.body-contact {
    background-color: pink;
}
.contacth2 {
    color:rgb(109, 11, 112);
    font-size: 2rem;
    font-family:cursive
}

/*ESTILO SHOPPING CART*/

/*BENEFITS*/
.benefits-index{
    margin: 7rem 0rem 0rem 20rem;
    font-size: 2rem;
    color: rgb(202, 34, 235);
}
table {
    display: inline-block;
    background: white;
    margin: 2rem 0rem 2rem 9rem;
    text-align: center;
}
.table_th{
    padding: 1.5rem;
    background-color: blanchedalmond;
    color: rgb(202, 34, 235);
}
table tr td {
    border: 1px solid grey;
    padding: 2rem 10rem;
}
table ul li {
    list-style: none;

}
    table ol li {
    list-style: none;
    }
.middledown{
    background-color: #86cafa;
}
